@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* Le decimos a Tailwind que reemplace su fuente 'sans' genérica por nuestra Inter */
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-inter);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  /* Eliminamos el Arial que estaba acá forzando un diseño viejo */
}

/* Mejoramos el scrollbar general del sistema para que se vea más estético */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #cbd5e1;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #94a3b8;
}

/* Oculta la barra de desplazamiento pero permite el scroll táctil (PWA/Mobile) */
.custom-scrollbar::-webkit-scrollbar {
  display: none;
}
.custom-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  -webkit-overflow-scrolling: touch; /* Hace que el deslizamiento sea suave en iOS */
  scroll-snap-type: x proximity;
}